.input-group-btn .btn {border-bottom-width:1px;}
.input-group.input-group-alt-1 .form-control, 
.input-group.input-group-alt-1 .input-group-addon, 
.input-group.input-group-alt-1 .input-group-btn .btn {
	border-style:dashed;
}
.input-group.input-group-alt-1 .form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}